[2019-04-23 20:57] iliakan opened #1 "Portuguese Translation Progress"
## Maintainer List

@luizclr, @odsantos, @Mr-Saxobeat, @adriavieira314

## For New Translators

<details><summary><b>Please read this first (click to open)</b></summary>
<p>
To translate an article:

1. Check that no one else has claimed your article in the checklist below.
2. Comment below with the title of the article that you would like to translate, exactly as listed, e.g. `An Introduction to

[2019-04-24 14:33] mrodrigochaves commented on #1
Edited by mrodrigochaves

[2019-04-25 21:52] rafaelgou commented on #1
Hi, @mrodrigochaves, can I join the effort? Do we have a glossary/style guide? If not, is there any from other languages that we could use as a  starting point?

Thanks!

[2019-04-26 06:19] iliakan commented on #1
Maybe there is a well-known glossary for web terms ?

[2019-04-26 10:21] iliakan commented on #1
@rafaelgou  you don’t need a permission to join.  Just tell us what is you’re translating.

[2019-04-26 10:49] rafaelgou commented on #1
Thanks, @iliakan. I'm researching a starting glossary and a way to store what we decide to unify during translation.

[2019-04-29 01:45] mrodrigochaves commented on #1
Welcome, @rafaelgou ! I'm following a list according to the topic above: For new translators.

[2019-05-11 15:59] DouglasMV commented on #1
Hi I'm going to help translate.
I will start with the "Methods of primitives" article at 1-js/05-data-types/01-primitives-methods

[2019-05-11 18:08] iliakan commented on #1
When I look at Wikipedia, there's only pt.wikipedia.org.

Does it really make sense to have separate pt-br.javascript.info and pt-pt.javascript.info? Or we can join the efforts to have just pt.javascript.info?

[2019-05-11 18:34] DouglasMV commented on #1
As a brazilian i can tell you that if i read a technical text, wich is the case, in Portugal's portuguese, I can understand but i cleary know i'm reading pt-pt not pt-br. But i cannot write in pt-pt only in pt-br. I hope that helps to clear a little bit how they are different.

[2019-05-12 01:18] mrodrigochaves commented on #1
Hello @iliakan,

I understand your placement.
My suggestion is: either keep pt-br.javascript.info, or switch to pt.javascript.info.

However, I would have to keep native contributors from Brazil or Portugal, not from both countries, because of the difference that DouglasMV commented above.

[2019-05-14 18:01] iliakan commented on #1
Thanks, I saw that Wikipedia has only PT, so I joined pt-br and pt-pt into PT.
If Wiki is ok with that, we should be fine too =)

[2019-05-14 18:02] iliakan commented on #1
For Wiki: an article must be either pt-pt or pt-br, not mixed.

I guess, if both regions understand each other, that rule is enough to keep both contributors.
That said, pt-pt version did not ever came to life.

[2019-05-28 20:21] iliakan commented on #1
@mrodrigochaves may I wonder, what's your email? I'm adding emails (non-public) about all translations, to contact on rare occasions (if the translation appears to be dead, mainly).

[2019-05-29 17:26] DouglasMV commented on #1
I'm translating 1-js/05-data-types/02-number/

[2019-06-02 07:50] Andres-ibanez commented on #1
I'm translating Comparisons

[2019-06-05 23:40] Andres-ibanez commented on #1
Logical operators

[2019-06-10 18:20] DouglasMV commented on #1
Translating /1-js/05-data-types/03-string/

[2019-06-11 18:16] DouglasMV commented on #1
Translating /1-js/05-data-types/04-array/

[2019-06-12 17:48] DouglasMV commented on #1
Translating /1-js/05-data-types/05-array-methods

[2019-06-17 20:02] DouglasMV commented on #1
Translating /1-js/05-data-types/06-iterable/

[2019-06-18 19:49] DouglasMV commented on #1
Translating /1-js/05-data-types/07-map-set-weakmap-weakset/

[2019-06-19 19:45] DouglasMV commented on #1
Translating /1-js/05-data-types/08-keys-values-entries/

[2019-06-20 23:22] heylizzie commented on #1
Translating /1-js/03-code-quality/03-comments

[2019-06-29 14:49] LASalvador commented on #1
Operators

[2019-07-01 22:52] Dheyson commented on #1
Functions

[2019-07-12 18:34] Mr-Saxobeat commented on #1
Manuals and specifications

[2019-08-04 02:24] EvertonCosmo commented on #1
interaction: alert, prompt, confirm

[2019-08-14 12:12] Luizlc10 commented on #1
Operators

[2019-08-14 20:21] rmasouza commented on #1
Hi. I want to help translate. I will start with **Conditional operators: if, '?'**

[2019-08-14 20:24] iliakan commented on #1
Anyone wants to become a maintainer? @mrodrigochaves seems to be offline.

[2019-08-14 21:21] Luizlc10 commented on #1
@iliakan I do,

[2019-08-15 05:24] iliakan commented on #1
@Luizlc10 done!

[2019-08-15 10:25] Luizlc10 commented on #1
Hi, @rmasouza. To take an item from the checklist you should comment only its title.

[2019-08-15 16:48] luizclr opened #40 "Pending contributor license agreement"
I would like to know about pending contributor license agreement to aprove PRs.
the PR in question is this one: #39
@iliakan could you help me? Should I aprove if do not receive any feedback about the guys?

[2019-08-15 16:54] iliakan commented on #40
Please ignore these guys =)

They contributed in another language.

[2019-08-15 16:58] luizclr commented on #40
ok, Thanks. :)

[2019-08-15 16:58] #40 closed

[2019-08-15 18:23] rmasouza commented on #1
ok, thanks

[2019-08-15 18:24] rmasouza commented on #1
Conditional operators: if, '?'

[2019-08-15 18:32] luizclr commented on #1
Hi, @rmasouza . I've already added you to this chapter. That's the reason of the error above. Just for the next time you will choose a chapter, comment only its title.  =)

[2019-08-15 19:00] Dheyson commented on #1
Functions

[2019-08-15 19:29] EvertonCosmo commented on #1
Interaction: alert, prompt, confirm

[2019-08-15 21:08] luizclr commented on #1
Please translate **only one chapter/Item per pull request** (check the list above - e.g. Strings, Array, Array methods and so on). Do not translate a whole section in a single pull request. This way is easier to make code review. =D

[2019-08-16 12:04] Mr-Saxobeat commented on #1
Hi,
In the section 1 in english ("An introduction") there are four articles, where the article 1.2 ("Manuals and Specifications") is what I'm translating. But here in the portuguese repo already has a 1.2 article wich is named as the 1.3 ("Code Editors") article in the english version. What is suposed to do? Rename the articles folder?

[2019-08-16 17:10] iliakan commented on #1
Maybe upstream changes now merged? Please compare it with the English version and bring in sync.

[2019-08-16 22:32] luizclr commented on #1
Hi, @Mr-Saxobeat . Yes, this is not up to dated! I've just became a maintainer and didn't have time to sync it with master yet. I will be busy this weekend at least but I'll do it soon.

[2019-08-17 21:24] LASalvador commented on #1
The "switch" statement

[2019-08-19 14:53] thiagocardoso1988 commented on #1
Object methods, "this"

[2019-08-24 13:31] paimfp commented on #1
Ninja code

[2019-09-03 18:22] alvar-o commented on #1
Loops: while and for

[2019-09-09 03:14] odsantos commented on #1
Hi @mrodrigochaves ,
Would it be possible to contribute for the Portuguese translation ?
Thanks,
Osvaldo .

[2019-09-09 03:48] iliakan commented on #1
I can update the list of maintainers, if existing ones don't respond. Please let me know if you know JS well enough to review PRs of others.

[2019-09-14 04:57] odsantos commented on #1
I am afraid I do not know, @iliakan Ilya.
I would be glad to join and review PR's. Please do add me as a maintainer.
I believe to also have finished the first page translation and hope to soon open an issue an PR.
Thanks.

[2019-09-14 06:18] iliakan commented on #1
@odsantos I checked your github profile and couldn't find any evidence that you're good at JS. Are you? Do you have enough experience with JS?

[2019-09-16 00:53] odsantos commented on #1
@ikniaziuk I believe it is better to wait for some possible translations and then take a decision. Thanks.

[2019-09-17 11:55] Mr-Saxobeat commented on #1
@iliakan I'd like to be a reviewver. I'm just learning JS, but I think I that comparing with the english version I can target the errors.

[2019-09-17 12:09] Mr-Saxobeat commented on #1
Logical operators

[2019-09-19 04:13] odsantos commented on #1
Comparisons

[2019-09-19 04:40] odsantos commented on #1
It seems that Comparisons have already been translated.

[2019-09-19 04:40] odsantos commented on #1
The "switch" statement

[2019-09-20 03:43] odsantos commented on #1
Hi, please would it be possible  to de-reference _Logical operators_  for myself.
I tried to wrongly request it days ago but has already been assigned to another person.
Thanks.

[2019-09-20 03:43] odsantos commented on #1
Function expressions and arrows

[2019-09-20 04:25] iliakan commented on #1
@luizclr are you avalable?

[2019-09-20 04:31] iliakan commented on #1
Updated contributors, removed @mrodrigochaves , added @odsantos , @luizclr

[2019-09-20 04:40] odsantos commented on #1
@iliakan  Thanks .

[2019-09-20 04:50] odsantos commented on #1
@iliakan Hi, some topics in the list seem translated but are unchecked. Would you like me to review them? Should I check any after that?
Thanks.

[2019-09-20 05:21] iliakan commented on #1
@odsantos, please review, check them if everything's all right.

[2019-09-20 14:02] Mr-Saxobeat commented on #1
Hi, when you tried to reference the _Logical operators_ the bot didn't marked you, because it needs to comment only the name of the topic. So, now I'm makerd as the translator of that topic.

[2019-09-20 14:17] Mr-Saxobeat commented on #1
@iliakan What do you think?

[2019-09-20 14:23] Mr-Saxobeat commented on #1
Is there some reason the "Manuals and specifications" article isn't referencing the associated PR #53?

[2019-09-20 14:45] iliakan commented on #1
@Mr-Saxobeat please translate something, and let it be reviewed =)
About references - the bot only makes them correctly if PR has the right title.

[2019-09-20 14:48] Mr-Saxobeat commented on #1
Okay!
Well, I can't find any error in the title. Did I miss something?

[2019-09-20 14:51] iliakan commented on #1
It looks good. I added #53 manually. If the issue repeats, I'll look into it.

[2019-09-20 14:51] iliakan commented on #1
@odsantos please review #53

[2019-09-21 04:22] odsantos commented on #1
@iliakan. unwilling to merge, I re-opened #57 for review at #58.
Thanks.

[2019-09-21 04:59] odsantos commented on #1
@Mr-Saxobeat I left some comments requesting changes for #53.
Thanks.

[2019-09-21 05:00] odsantos commented on #1
JavaScript specials

[2019-09-22 04:56] odsantos commented on #1
@Mr-Saxobeat I finished the review to #53. Thanks.

[2019-09-22 04:57] odsantos commented on #1
Debugging in Chrome

[2019-09-23 04:56] odsantos commented on #1
Coding Style

[2019-09-25 22:47] odsantos commented on #1
@Mr-Saxobeat I replied to your changes to #53, which had previously been requested. Thank you.

[2019-09-27 13:54] Mr-Saxobeat commented on #1
@iliakan please, can you check the article "Comparisons" as translated? It was already translated and merged from the #15.

[2019-09-27 14:15] iliakan commented on #1
@odsantos can you please check the article in the issue if it's indeed ready?

[2019-09-27 16:15] odsantos commented on #1
@iliakan I expect to check Comparisons soon.

[2019-09-27 16:16] odsantos commented on #1
@iliakan I expect to check Comparisons soon.

[2019-10-03 23:48] luizbaldi commented on #1
Polyfills

[2019-10-04 04:56] odsantos commented on #1
Comments

[2019-10-05 05:23] odsantos commented on #1
Automated testing with Mocha

[2019-10-07 04:37] odsantos commented on #1
@Mr-Saxobeat Hi, I reviewed your changes to #53 some days ago. Thanks.

[2019-10-07 04:39] odsantos commented on #1
@iliakan Hi, please would you mind if I review some articles? Thanks.

[2019-10-07 08:10] iliakan commented on #1
@odsantos You are the maintainer with all the power to review and merge.

[2019-10-07 11:29] Mr-Saxobeat commented on #1
@odsantos Hi, sorry, I coundn't solve. But when I have a time I will review. :)

[2019-10-07 23:27] luizbaldi commented on #1
Rest parameters and spread operator

[2019-10-08 04:53] odsantos commented on #1
No worries. Thanks.

[2019-10-08 04:55] odsantos commented on #1
@iliakan You're the owner. Thanks.

[2019-10-08 06:05] iliakan commented on #1
@odsantos Did I misunderstood your question?
You asked: "@iliakan Hi, please would you mind if I review some articles? Thanks."

I just reminded that you have a maintainer status, that means you can review and merge PRs.
And of course I don't mind 👍

[2019-10-08 06:31] odsantos commented on #1
@iliakan No, Ilya, by any means.
It has been a great experience. Appreciated, for the kindness.

[2019-10-09 14:04] joaovbibiano commented on #1
Hi guys,

I want to help to translate it.

How can I start?

[2019-10-09 14:06] Mr-Saxobeat commented on #1
Hi, you can start reading the "For New Translators" topic of the main comment of this issue, at the top! :)

[2019-10-10 22:21] doougui commented on #1
Interaction: alert, prompt, confirm

[2019-10-10 22:40] odsantos commented on #1
@doougui As noted on the instructions, it is necessary to choose an unassigned lesson. Thanks.

[2019-10-14 15:01] Mr-Saxobeat commented on #1
@odsantos would please remove @paimfp from the translation of "Ninja Code" article? Seems he's not active anymore and I'd like to translate this article.
Thanks!

[2019-10-15 05:39] odsantos commented on #1
Objects

[2019-10-15 10:30] Mr-Saxobeat commented on #1
@odsantos Hi, fellow :wave:

[2019-10-15 12:11] paimfp commented on #1
Sorry guys, I am realy out of time to finish the translation...

De: Weiglas<mailto:notifications@github.com>
Enviado:terça-feira, 15 de outubro de 2019 07:30
Para: javascript-tutorial/pt.javascript.info<mailto:pt.javascript.info@noreply.github.com>
Cc:paimfp<mailto:paimfp@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Assunto: Re: [javascript-tutorial/pt.javascript.info] Portuguese Tran

[2019-10-16 02:22] odsantos commented on #1
Objects

[2019-10-16 02:36] odsantos commented on #1
@iliakan Hi, would you please check this? Thanks.

[2019-10-18 15:03] Mr-Saxobeat commented on #1
@odsantos I think you can remove the checked box and turn the article available to other PRs. Am I wrong?

[2019-10-21 11:13] Mr-Saxobeat commented on #1
:eyes:

[2019-10-22 16:02] 0limpi0 commented on #1
Hi @iliakan I would like to translate the artice **Numbers**

[2019-10-22 16:06] iliakan commented on #1
@0limpi0 just write "Numbers", to let the bot know.

Also, I'm not the maintainer of this translation. Unfortunately, my Portuguese is too poor (that is, if I know any of it at all)!

[2019-10-22 16:10] 0limpi0 commented on #1
Oh.. Sorry. Who's the Portuguese mantainer? @iliakan

Thanks I will do that

[2019-10-22 16:11] 0limpi0 commented on #1
Numbers

[2019-10-22 16:12] iliakan commented on #1
See the top of this issue =)

@odsantos are you available?

@Mr-Saxobeat, you wanted to become a maintainer, do you feel like your translations are good enough to review others?

[2019-10-22 23:54] odsantos commented on #1
@iliakan Yes, I am, until now. Thanks.

[2019-10-22 23:57] odsantos commented on #1
@iliakan Hi, please would it be possible to remove the assigned person to Ninja code? Thanks.

[2019-10-23 00:03] Mr-Saxobeat commented on #1
@iliakan, yes, I did. Maybe I could help @odsantos with some review of the articles at first look and he approves then when it's all right, like a double review.
He suggested a lot of correction on my PR, so I think I couldn't make a review all alone yet.

[2019-10-23 00:11] Mr-Saxobeat commented on #1
@odsantos, you're a mantainer. I think you have permission to do this

[2019-10-23 11:33] iliakan commented on #1
Adding @Mr-Saxobeat in hopes that double review is better =)

@odsantos, you can edit the issue ("Edit" button) and manually remove the information from the corresponding string.

[2019-10-23 12:58] Mr-Saxobeat commented on #1
@iliakan, thanks!
 I really looked for, but I'm can't find the edit button. Can you help me?

[2019-10-23 13:23] Mr-Saxobeat commented on #1
Ninja code

[2019-10-23 14:26] iliakan commented on #1
@odsantos
here at the right:
![image](https://user-images.githubusercontent.com/349336/67403218-490fb880-f5ba-11e9-8831-b7d2a8e9003d.png)

[2019-10-23 20:47] odsantos commented on #1
Garbage collection

[2019-10-24 15:17] Mr-Saxobeat commented on #1
@iliakan, seems the bot is undoing corrections on the top comment:

- Removed my name from the mantainer list
- Reverted my correction on "Our helpful bot ~~wathches~~ watches comments... "

[2019-10-24 15:29] iliakan commented on #1
@Mr-Saxobeat thanks, that'll be fixed soon as I'll deploy the new bot =)

[2019-10-24 15:29] iliakan commented on #1
you're still maintainer, it's just the old bot data

[2019-10-27 15:33] odsantos commented on #1
Symbol type

[2019-10-27 15:36] odsantos commented on #1
@iliakan Thanks.

[2019-10-27 18:03] odsantos commented on #1
@iliakan Hi, would you please tell if entries like ````smart header="..." are also expected to be translated? Thanks.

[2019-10-27 18:11] iliakan commented on #1
@odsantos the word "smart" is a formatting element, as well as "header".

The contents is to be translated, right.

[2019-10-27 20:39] odsantos commented on #1
I was in doubt, and opt not to, due to something on the instructions. Thanks. 

  On Sun, Oct 27, 2019 at 7:11 PM, Ilya Kantor<notifications@github.com> wrote:
@odsantos the word "smart" is a formatting element, as well as "header".

The contents is to be translated, right.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-28 17:44] vitorinoaraujo commented on #1
Fetch

[2019-10-30 00:19] daniellic9 commented on #1
Browser environment, specs

[2019-11-01 00:10] odsantos commented on #1
Object methods, "this"

[2019-11-04 19:30] nildo commented on #1
Introduction: callbacks

[2019-11-07 22:18] odsantos commented on #1
Object to primitive conversion

[2019-11-15 19:03] PedroDousseau commented on #1
Constructor, operator "new"

[2019-11-19 23:39] odsantos commented on #1
Strings

[2019-11-26 13:56] lsfgrd commented on #1
Function expressions

[2019-12-12 20:19] odsantos commented on #1
Arrays

[2019-12-21 04:12] daniellic9 commented on #1
/done

[2020-01-10 00:08] vensauro commented on #1
Array methods

[2020-01-24 20:42] mjfneto commented on #1
Promise API

[2020-01-24 20:46] mjfneto commented on #1
@iliakan May I change to the article called Promise, not Promise API? In the list, both have the same name, so I thought there was only one.

[2020-01-24 23:24] mjfneto commented on #1
Promise

[2020-01-26 02:25] analuspi commented on #1
Data types: Object.keys, values, entries

[2020-01-29 15:28] allanpaza commented on #1
Arrow functions, the basics

[2020-01-29 15:51] allanpaza commented on #1
Recursion and stack

[2020-02-05 13:28] exploitmik commented on #1
Walking the DOM

[2020-02-19 04:15] adriavieira314 commented on #1
Array methods.

[2020-02-19 18:36] adriavieira314 commented on #1
@iliakan what do I have to do to become a maintainer? And is it Array Methods being already translated, I saw @DouglasMV was translating.

[2020-02-20 10:03] iliakan commented on #1
@adriavieira314 are you translating the same article as @DouglasMV ?

I added you to maintainers, but please sort it out, so that the same article isn't translated twice.

[2020-02-20 16:44] adriavieira314 commented on #1
Alright. Thanks very much. I'm going to start translating a new one.

[2020-02-20 16:47] adriavieira314 commented on #1
Modules, introduction

[2020-02-20 17:01] mjfneto commented on #1
@iliakan May I translate Promise instead of Promise API? Both have the same name in the list, that's what confused me, I thought there was only one text.

[2020-02-20 21:51] odsantos commented on #1
Hi @iliakan , there are links on this list that lead to 404's.
Please, hat should be the procedure on those cases?
Thanks.

[2020-02-21 13:09] iliakan commented on #1
@mjfneto @odsantos Please take a look at English version. It's possible that it was updated, but the changes were never merged.

Translate from the most up to date English variant.

[2020-02-24 22:56] odsantos commented on #1
@iliakan have you a recommendation to solve those broken links?

[2020-02-24 22:57] iliakan commented on #1
Translate from English directly.

[2020-03-20 16:28] odsantos commented on #1
Hi, for broken links (404's), the folders might still exist in the repository.

Please try to navigate to them, and check for discrepancies between links - it might suffice to update the link on this page.

Thanks.

[2020-03-20 16:34] sidglas commented on #1
Function binding

[2020-03-25 19:17] AlexPHorta commented on #1
Function expressions

[2020-03-27 01:38] splait commented on #1
Variable scope

[2020-03-31 03:26] sidglas commented on #1
@iliakan  I claimed function binding translation, and I'm doing it. But i noticed the published article isn't the same I see on github. What should I do on this situation ?
Published version (javascript.info/bind)
Git repo : (https://github.com/javascript-tutorial/pt.javascript.info/blob/master/1-js/06-advanced-functions/10-bind/article.md)

[2020-03-31 09:20] iliakan commented on #1
@sidglas the English version is the most recent one. Sometimes the English gets updated, but the changes are not merged here.

Please use the English repo as a source then.

[2020-03-31 13:20] sidglas commented on #1
The problem is that there are 2 English versions. One is published on the internet. Other is the one on which I,'m working that I got from github.

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Ilya Kantor <notifications@github.com>
Sent: Tuesday, March 31, 2020 6:21:11 AM
To: javascript-tutorial/pt.javascript.info <pt.javascript.info@noreply.github.co

[2020-03-31 14:19] iliakan commented on #1
This github may have an outdated English version, for the reasons that I explained above.

The most up to date English is at https://github.com/javascript-tutorial/en.javascript.info

[2020-03-31 22:21] sidglas commented on #1
Ok, @Ilya Kantor<mailto:notifications@github.com>, i'm going to work on the up to date English repo you have  pointed.

________________________________
De: Ilya Kantor <notifications@github.com>
Enviado: terça-feira, 31 de março de 2020 11:20
Para: javascript-tutorial/pt.javascript.info <pt.javascript.info@noreply.github.com>
Cc: Sidglas <sidglas@hotmail.com>; Mention <mention@noreply.github.com>

[2020-04-04 12:00] augustodg2 commented on #1
Map and Set

[2020-04-13 19:31] lucastrvsn commented on #1
Hey guys, I'm going to translate `Animation` section. Starting from `Bezier Curve`. Any problems?

[2020-04-13 19:35] lucastrvsn commented on #1
Bezier curve

[2020-04-23 10:38] marcoarib commented on #1
Iterables

[2020-04-24 01:12] dilhelh commented on #1
@iliakan @luizclr @odsantos @Mr-Saxobeat @adriavieira314
I changed my username from splait to dilhelh. Could you please fix the assignment of the item **Variable scope** to me?

[2020-04-24 17:58] thiagocardoso1988 commented on #1
Hello everybody!

I'd like to contribute with the translation, hwo can I proceed?

Thanks in advance,
Thiago Cardoso

Em qui., 23 de abr. de 2020 às 22:12, Guilherme Sousa <
notifications@github.com> escreveu:

[2020-04-24 23:39] EvertonCosmo commented on #1
Read the the section **For New Translators** on top of this issue

[2020-04-24 23:42] EvertonCosmo commented on #1
The old "var"

[2020-04-27 11:32] marcoarib commented on #1
Object.keys, values, entries

[2020-04-27 11:44] thiagocardoso1988 commented on #1
Class basic syntax

[2020-05-01 14:58] kiniggit commented on #1
Hello! I would also like to contribute. I'm going to pick one of the articles.

[2020-05-01 15:07] kiniggit commented on #1
Could I start with Introduction: callbacks ? Posso começar com Introduction: callbacks ?

[2020-05-01 15:08] kiniggit commented on #1
Introduction: callbacks

[2020-05-01 15:08] kiniggit commented on #1
Promises API

[2020-05-01 15:11] kiniggit commented on #1
Promise

[2020-05-01 15:16] kiniggit commented on #1
Promise

[2020-05-04 15:24] melostbr commented on #1
Destructuring assignment

[2020-05-04 17:47] kiniggit commented on #1
Promises chaining

[2020-05-05 22:23] anapaulalemos commented on #1
Export and Import

[2020-05-06 14:50] adroaldopagliari commented on #1
Async/await

[2020-05-07 00:46] kiniggit commented on #1
Error handling with promises

[2020-05-07 00:47] kiniggit commented on #1
Promisification

[2020-05-07 00:48] kiniggit commented on #1
Microtasks

[2020-05-07 15:42] anapaulalemos commented on #1
Global object

[2020-05-07 15:44] anapaulalemos commented on #1
Export and import

[2020-05-07 15:48] anapaulalemos commented on #1
Seem that the bot doesn't recognize this one

[2020-05-10 19:23] anapaulalemos commented on #1
Rest parameters and spread syntax

[2020-05-13 11:13] mauehara commented on #1
Arrow functions revisited

[2020-05-13 23:22] kiniggit commented on #1
I've assigned it to you up there -> Export and Import (@anapaulalemos) #121.

[2020-05-13 23:36] wnleao opened #126 "sync with upstream"

[2020-05-14 11:51] mauehara commented on #1
CSS-animations

[2020-05-15 04:50] karlasamantha commented on #1
JavaScript animations

[2020-05-16 15:59] kiniggit commented on #1
Basic operators, maths

[2020-05-17 22:47] odsantos commented on #1
Hi @anapaulalemos, this file was updated and is now available for translation.

Thank you.

[2020-05-18 17:12] nataliakeller commented on #1
Date and time

[2020-05-19 10:02] domssilva commented on #1
Optional chaining '?.'

[2020-05-19 10:36] domssilva commented on #1
Optional chaining '?.'

[2020-05-23 15:53] kiniggit commented on #1
WeakMap and WeakSet

[2020-05-23 19:19] fsdude commented on #1
Patterns and flags

[2020-05-23 22:55] fsdude commented on #1
Methods of RegExp and String

[2020-05-24 01:01] fsdude commented on #126
As novas traduções devem ser feitas seguindo o atual 'pt.javascript.info' repo ou o atual 'en.javascript.info'?

[2020-05-24 22:15] odsantos commented on #1
Hi @vitorinoaraujo , the 'Fetch' lesson is ready for translation.
I'd appreciate to let us know if you're no longer available to do it.
Thank you.

[2020-05-25 20:40] fsdude commented on #1
Character classes

[2020-05-25 22:32] fsdude commented on #126
should I try to make a branch with the synchronized content or is someone already working on it?

[2020-05-26 00:59] odsantos commented on #1
Hi @fsdude , the article for "Patterns and flags" was updated and is available for a re-translation.
Your first translation also is in the same folder.
Thank you.

[2020-05-26 01:14] fsdude commented on #1
Hi, @odsantos!
Awesome, I'm going to check it.
Thanks

[2020-05-27 20:26] cesarkohl commented on #1
Introduction to browser events

[2020-07-18 14:20] tfbio commented on #1
The "new Function" syntax

[2020-07-31 01:46] ashuradev commented on #1
Eval: run a code string

[2020-08-05 23:52] acidiney commented on #1
Hi, I want to help translate too

[2020-08-06 14:07] odsantos commented on #1
Hi @acidiney , the instructions are on the top of this page.
Please, also feel free to ask questions.
Thank you.

[2020-08-16 10:56] DanyelGranzotti commented on #1
Conditional branching: if, '?'

[2020-09-22 16:32] dlgasparotto commented on #1
JSON methods, toJSON

[2020-09-24 03:17] HakaCode commented on #1
Template element

[2020-09-25 11:31] ermogenes commented on #1
Nullish coalescing operator '??'

[2020-09-27 22:23] odsantos commented on #1
@all , Hello, there was a sync with the English repository today and many files might have been changed.

Please, would kindly each contributor check his/her translation, and update PR files accordingly if necessary?

Thank you.
Best of regards.

[2020-10-09 10:38] dlgasparotto commented on #1
Variable scope, closure

[2020-10-17 04:00] dekisr commented on #1
Currying

[2020-10-18 02:18] alicefrancener commented on #1
Object references and copying

[2020-11-11 12:13] portothree commented on #1
Promise

[2020-11-11 12:14] portothree commented on #1
Promise API

[2020-11-11 12:16] portothree commented on #1
How can I claim "Promise"? (https://github.com/javascript-tutorial/pt.javascript.info/tree/master/1-js/11-async/02-promise-basics)
The bot replies with `Error: the article already has meta information in the Progress Issue "API"` but there's no one assigned to that article

[2020-11-11 12:39] odsantos commented on #1
@portothree Hi, would you please reach back if still are unable to claim it?
Thanks.

[2020-11-11 15:15] portothree commented on #1
Promise

[2020-11-11 15:16] portothree commented on #1
Fixed, thanks @odsantos

[2020-12-15 21:24] odsantos commented on #1
Hi @iliakan , should words like these after "js" be translated?
" ```js run demo solution "
Thank you.

[2020-12-16 06:57] iliakan commented on #1
@odsantos never ever. Only the content of `header="...."`.

[2021-01-06 18:21] odsantos commented on #1
Function object, NFE

[2021-01-13 07:26] theomelo commented on #1
Destructuring assignment

[2021-01-13 07:27] theomelo commented on #1
I used to have that login, but I had to change it. Does it matter for the PR in the end?

[2021-01-13 12:24] odsantos commented on #1
Hi @theomelo , you might be able to choose it now. Please, comment if not. Thank you.

[2021-01-20 21:58] odsantos commented on #1
Polyfills and transpilers

[2021-01-26 16:10] almirleandro commented on #1
DOM tree

[2021-01-27 14:11] almirleandro opened #207 "The DOM Nodes article.md does not match the one in the original repo"
[This article.md](https://github.com/javascript-tutorial/pt.javascript.info/blob/master/2-ui/1-document/02-dom-nodes/article.md) does not match the [original article.md](https://github.com/almirleandro/en.javascript.info/blob/master/2-ui/1-document/02-dom-nodes/article.md) in the original repo in English.

[2021-01-28 01:57] theomelo commented on #1
Destructuring assignment

[2021-01-29 13:23] almirleandro commented on #207
I've been translating the article.md in the pt.javascript.info repo instead of the original en.javascript.info repo, since it was the instruction.

[2021-01-29 13:23] #207 closed

[2021-02-18 13:01] vmlage commented on #1
Translating - Scheduling: setTimeout and setInterval

[2021-04-23 14:15] filipespadetto commented on #1
Mouse events

[2021-05-08 23:03] joaofranciscosantos commented on #1
Psso ajudar com os 3 topicos em "Document and resource loading"

[2021-05-10 12:33] augustodg2 commented on #1
Will no longer contribute

[2021-05-27 15:15] gabifs commented on #1
Map and Set

[2021-06-02 02:21] pinhob commented on #1
Searching: getElement*, querySelector*

[2021-06-02 07:07] odsantos commented on #1
Hi @pinhob , the bot did not mark it. I hope you do not mind I assigned it to you.
Please, be aware of spaces in the title later for the PR.

Thank you.

[2021-07-13 19:30] nazarepiedady commented on #1
Decorators and forwarding, call/apply

[2021-07-16 09:03] odsantos commented on #1
Hi @mrodrigochaves , are you still translating Type Conversions? The article is being translated by another person. Thank you.

[2021-07-16 09:20] odsantos commented on #1
Hi @vmlage , I assigned it to you.
The articles' selection instructions are on the top of this page (For New Translators).
Thank you.

[2021-07-19 18:38] odsantos commented on #1
Hi @PauloBacelar , I changed the "Type Conversions" assignment to you. Thank you.

[2021-07-21 13:09] odsantos commented on #1
Hello,

Would new translators read the instructions concerning selecting articles and naming pull requests in the section "For New Translators" at the top of this page?

Thank you.

[2021-07-24 23:49] herbertpdl commented on #1
Logical operators

[2021-07-25 15:29] odsantos commented on #1
Hello @herbertpdl , the instructions are at the top of this page, in "For New Translators".
You need to choose an article not assigned to anyone.
Thank you.

[2021-07-25 16:27] herbertpdl commented on #1
Hello @odsantos, this one has no changes since 2019, I already asked you if I could start from it.
Anyway, I can take another one, sorry for the mistake.

[2021-07-25 16:28] herbertpdl commented on #1
Property flags and descriptors

[2021-07-26 18:58] herbertpdl commented on #1
Property getters and setters

[2021-08-05 16:12] JordaoNhanga15 commented on #1
Prototype methods, objects without proto

[2021-08-05 17:04] filipespadetto commented on #1
I can't commit any more. Please, remove me from the list. Thanks

[2021-08-06 11:15] odsantos commented on #1
It was done. Thank you.

[2021-08-18 19:53] PauloBacelar commented on #1
Class inheritance

[2021-08-28 01:58] matdomis commented on #1
Object references and copying

[2021-09-02 15:04] matdomis commented on #1
Object methods, "this"

[2021-10-21 17:48] odsantos opened #228 "Introduction: callbacks (@nildo)"

[2021-10-21 17:48] #228 closed, assigned to nobody

[2021-10-21 18:13] flaviohblima commented on #1
Prototypal inheritance

[2021-10-21 18:26] odsantos commented on #1
Hello @nildo , are you still available for translating "Introduction: callbacks"?
@flaviohblima is offering to translate it (#227).
Thank you.

[2021-10-23 01:39] larissaiurk commented on #1
Scripts: async, defer

[2021-10-31 21:26] jpvasquesc commented on #1
Error handling, "try...catch"

[2021-11-01 18:50] flaviohblima commented on #1
Prototype methods, objects without proto

[2021-11-03 01:59] flaviohblima commented on #1
Prototype methods, objects without **proto**

[2021-11-21 17:04] zenobiopereira commented on #1
Debugging in the browser

[2022-03-04 22:38] rkaustchr commented on #1
Custom errors, extending Error

[2022-04-01 17:23] denis-rossati commented on #1
Hi! I would like to put my efforts in translating the section [Attributes and properties](https://github.com/javascript-tutorial/pt.javascript.info/blob/master/2-ui/1-document/06-dom-attributes-and-properties) :D

[2022-04-02 20:54] odsantos commented on #1
Hello @denis-rossati ,

There are instructions at the top of this page (For New Translators).

Thank you.

[2022-04-03 05:20] pinhob commented on #1
Hello, unfortunately, I can't contribute anymore. Please, remove my name from the list. Thank you.

[2022-04-03 22:10] odsantos commented on #1
Hi, it is done. Thank you.

[2022-04-03 22:11] odsantos commented on #1
Hi, it is done. Thank you.

[2022-04-03 22:13] adriavieira314 commented on #1
Hello, good evening. My name has been there for a while now also and I have
been not contributing, could you please remove it?

Em dom, 3 de abr de 2022 18:11, Osvaldo Dias dos Santos <
***@***.***> escreveu:

[2022-04-04 04:46] iliakan commented on #1
Done @adriavieira314

[2022-06-10 05:08] jonnathan-ls commented on #1
Hello @iliakan and maintainers,

I intend to read all the articles on the site and delve into the language.

03 years ago, I started working with frontend, starting with javascript, going through typescript and currently working in Angular.

I identified on the page of ["translate"](https://javascript.info/translate) that the language "Portuguese" still has a lot to translate (only 16% completed).

[2022-06-20 21:42] odsantos commented on #1
Hello @jonnathan-ls ,

Concerning to

Please, if you want to review translated articles, you need to ask @iliakan .

Thank you.

[2022-06-20 21:43] odsantos commented on #1
Hello @jonnathan-ls ,

Concerning to

Please, if you want to review translated articles, you need to ask @iliakan .

Thank you.

[2022-06-21 06:45] iliakan commented on #1
Assuming that other maintainers see the review quality is good enough, I invited you to the maintainers team.

[2022-06-22 03:26] jonnathan-ls commented on #1
@odsantos, thanks for redirecting me 🤝.

@iliakan, I accept the invitation to work as a collaborator ❤️ ...
I hope to contribute significantly to the project ...
I will understand the repository review process and check open questions ...

[2022-07-07 04:41] jonnathan-ls commented on #126
@wnleao

It is not possible to understand what is expected of this issue, there is no description about the details. I will close the request and if you still receive this notification and want to open a new demand detailing what you need, feel free. ❤️

[2022-07-07 04:41] jonnathan-ls commented on #126
@wnleao

It is not possible to understand what is expected of this issue, there is no description about the details. I will close the request and if you still receive this notification and want to open a new demand detailing what you need, feel free. ❤️

[2022-07-07 04:41] #126 closed

[2022-07-16 22:26] jonnathan-ls commented on #1
**Hello guys ...**

I don't know how many members here are active and follow the [pt.javascript.info](https://github.com/javascript-tutorial/pt.javascript.info) repository

I'm trying to read all the articles on the platform, identifying the ones that need correction and also the ones that haven't been translated yet, so that I can carry out the necessary translations, [as per comment](https://git

[2022-08-12 14:37] betofc89 commented on #1
I translated 1-js/02-first-steps/08-operators/ (_Basic operators, maths_) and created a pull request [Translation of 1-js/02-first-steps/08-operators/ #247](https://github.com/javascript-tutorial/pt.javascript.info/pull/247).

@luizclr , the user @kiniggit was supposed to make that translation as defined in the checkboxes above. Since I couldn't find his user here on GitHub, I made that translatio

[2022-08-13 02:56] jonnathan-ls commented on #1
Hi @betofc89

Really, it looks like the @kiniggit user no exists.

For the translation of the article `Basic operators, math`, there was an open PR (#131), but very old, however, as the user did not give any positioning, the previous PR was deleted, thus keeping only the one you opened in progress (#247).

That said, the main topic has been updated with its name in the translation of the file in q

[2022-08-17 01:36] thiagocardoso1988 commented on #1
I'll assume the [Static properties and methods](https://github.com/javascript-tutorial/pt.javascript.info/blob/master/1-js/09-classes/03-static-properties-methods) section now

[2022-08-25 03:37] jonnathan-ls commented on #1
Thanks for the placement, the main post has been updated https://github.com/javascript-tutorial/pt.javascript.info/issues/1#issue-436386898

[2022-08-28 02:36] luizvaz opened #249 "Multi Portuguese Translations"
We have two main Portuguese branches:
 - Português (Portugal)
 - Português (Brasil)

and two less known branches:
  - Português (Angola)
  - Português (Moçambique)

Too many differences in the written text turn unintelligible for readers of each region.
Simple examples:
- File in Portugal is _Fichero_, but in Brazil, it is _Arquivo_
- Mouse in Portugal is _Rato_, but in Brazil, it is _Mouse_
- Win

[2022-08-31 23:52] jonnathan-ls commented on #249
In fact the comparison is a very valid observation, I'm just afraid of how much difference there is between the languages ​​in contrast to the effort of the complete translation to multi Portuguese languages

Anyway, this is an issue that was apparently discussed earlier in the repository and even mentioned by the javascript-info maintainer (@iliakan) himself: https://github.com/javascript-tutoria

[2022-09-01 00:01] jonnathan-ls commented on #249
Maybe... if an alternative to implement the application rendering logic that serves the platform... wouldn't be smoother.

[code]

So the `server` based on the element property, changes the value based on some configured repository list.

[2022-09-01 05:38] iliakan commented on #249
The main thought behind making a single version was: "what's good for Wikipedia should be good for us".

[2022-09-01 08:42] iliakan commented on #249
Is it safe to assume that most portuguese-speaking IT learners understand both `Rato` and `Mouse`, `Ventana` and `Janela`?

[2022-09-25 18:25] jonnathan-ls commented on #249
I don't believe it's safe...

The terminology and pronunciation of the words are quite different, giving a margin of misinterpretation.

However, within a context, paying attention to where the word is inserted (paragraph as a whole), it ends up facilitating the interpretation of the word and consequently what is expected to be obtained from the reading.